In [1]:
import numpy as np
from collections import Counter
paras=np.zeros((1000,10))
ques=np.zeros((1000,3))
label=[0]*1000
with open('timu/test_para.csv','r',encoding='utf8') as f:
    count=0
    for line in f:
        line_seg=line.split(',')
        paras[count,:]=line_seg
        count+=1
with open('timu/test_ques.csv','r',encoding='utf8') as f:
    count=0
    for line in f:
        line_seg=line.split(',')
        ques[count,:]=line_seg
        count+=1

In [2]:
n=1000
pred=[0]*n
m=len(paras[0])
k=len(ques[0])
error=1
for i in range(n):
    for j in range(m-k):
        a1=paras[i,j]-ques[i,0]
        a2=paras[i,j+1]-ques[i,1]
        a3=paras[i,j+2]-ques[i,2]
        if max(abs(a1-a2),abs(a1-a3),abs(a2-a3))<error:
            pred[i]=1
Counter(pred)

Counter({0: 511, 1: 489})

In [6]:
import pandas as pd
op = pd.DataFrame({'pred':pred}) 
op.to_csv('test_pred_sub3.csv',header=None, index=False)

In [7]:
data_wangzhao = pd.read_csv('test_pred_sub3.csv',header=None)

In [8]:
data_wangzhao.head(10)

   0
0  0
1  0
2  0
3  1
4  0
5  0
6  1
7  0
8  1
9  1

In [9]:
data_wangzhao.shape

(1000, 1)

In [10]:
Counter(pred)

Counter({0: 511, 1: 489})